<div class="atomic-datepicker" (click)="$event.stopPropagation()">
  <mat-form-field class="date-field" appearance="outline" subscriptSizing="dynamic">
    <input
      matInput
      [matDatepicker]="picker"
      [value]="model"
      [disabled]="disabled"
      [readonly]="true"
      (dateChange)="onDateChange($any($event.value))"
      (keydown.enter)="enterPressed.emit($any($event))"
      (keydown.escape)="escapePressed.emit($any($event))"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="disabled"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
