<section class="image-viewer-shell">
  <div class="toolbar">
    <button type="button" *ngIf="mobileMode" (click)="toggleInteraction()">
      {{ interactionEnabled ? 'Bloquear gesto' : 'Activar gesto' }}
    </button>
    <button type="button" (click)="zoomOut()">-</button>
    <button type="button" (click)="reset()">Reset</button>
    <button type="button" (click)="zoomIn()">+</button>
  </div>

  <div class="viewport" #viewport [class.interaction-enabled]="interactionEnabled">
    <img #imageEl [src]="imageSrc" [alt]="altText" draggable="false" />
  </div>
</section>
